body {
    font-family: Arial, sans-serif;
    background-image: url('../images/texture.jpg');
    background-size: cover;
}

#header {
    height: 100px;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.67);
}

#menu {
    width: 12%;
    float: left;
    background-color: rgba(240, 240, 240, 0.67);
    height: 838px;
}

#content {
    width: 1640.5px;
    float: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.67);
    height: 818px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

iframe {
    border: none;
}

#marquee {
    top: 30px;
    position: relative;
}